name: Run Tests via Pytest

on:
  push:
    branches:
      - "**"

jobs:
  build:
    name: Build and Run Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup-env
        with:
          python-version: ${{ matrix.python-version }}
          post_setup_command: "poetry install -E dev"

      - name: Test with Pytest
        run: |
          poetry run pytest --cov=partial_tables --cov-branch --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: julien777z/partial-tables
